/* Write your CSS here */
.about-container-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1140px;
  background-color: black;
  min-height: 100vh;
}
.light-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1140px;
  min-height: 100vh;
}
.about-image {
  width: 250px;
}
.light-heading {
  color: black;
}
.dark-heading {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .about-image {
    width: 100px;
  }
}
